html, body {
    margin: 0;
    padding: 0;
}

/* List styles */
ul {
    list-style: none;
}

/* Link styles */
a {
    color: black;
    text-decoration: none;
}

/* Header styles */
.header-container {
    height: 70px;
    margin: 0;
    padding: 0 7px;
    box-sizing: border-box;
    border: solid lightgray;
    border-width: 0 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    width: 300px;
    align-items: center;
    position: relative;
}

.help-center-logo {
    font-size: 19px;
    padding-left: 115px;
}

a.netflix-logo {
    text-decoration: none;
}

a.profile-btn {
    text-decoration: none;
    font-size: 19px;
}

.netflix-logo-img {
    position: absolute;
    top: 50%;
    margin-top: -20px;
}

a.help-center-logo {
    text-decoration-line: none;
    margin: 0 0 0 20px;
    line-height: 70px;
}

.action-container {
    align-items: center;
    position: relative;
}

.dropdown-menu, ul.dropdown-menu {
    display: none;
}

img.down-arrow-red {
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -10px;
}

.profile-btn {
    padding-right: 40px;
}

/* Body and Header styles */
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
}

/* Search container styles */
.search-container {
    height: auto;
    padding: 10px 10px 50px 10px;
    position: relative;
}

.search-intro-wrapper {
    width: 604px;
    margin: 250px auto 250px auto;
}

h1.intro {
    font-size: 40px;
}

#search-input {
    width: 600px;
    height: 42px;
    border: none;
    padding: 9px 16px 9px 52px;
}

.search-control-wrapper {
    border-radius: 4px;
    border: 2px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #E50C17, #5C79F1);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
}

.fixed-search-bar-wrapper {
    padding-top: 30px;
    height: 46px;
    position: fixed;
    top: 0;
    left: 50%; /* Center the fixed search bar horizontally */
    transform: translateX(-50%); /* Adjust the position to center */
    z-index: 1000;
    background-color: white;
}

#fixed-search-intro {
    height: 50px;
}

.search-form-container {
    margin-top: 90px;
}

.search-control {
    display: none;
}

.form-control {
    font-size: 18px;
}

.explore-topics {
    font-size: 16px;
    margin: 0 auto 16px;
    padding: 16px;
}

#explore-topics-link span {
    font-weight: bold;
    font-size: 19px;
}

/* Main content styles */
main {
    text-align: center;
    background: linear-gradient(to bottom, #f9f9f9, #ffffff);
}

.categories {
    text-align: left;
    padding: 0 0 0 0;
    margin-bottom: 40px;
}

.subcategories, div.category-card {
    padding: 0;
}

div.category-card {
    width: 560px;
    font-weight: bold;
    font-size: 18px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    border-color: lightgray;
    margin: 0 auto 16px auto;
    background-color: white;
    padding: 20px 20px 0 20px;
}

details summary {
    margin: 0;
    padding: 0;
}

.category-card-name {
    padding: 5px 0 25px;
}

.article-item {
    padding: 5px 0 15px;
}

.category-card a {
    text-decoration: underline;
    font-weight: normal;
}



.subcategory-header img {
    float: right;
}

details summary {
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    cursor: pointer;
}

summary.subcategory-header {
    height: 40px; /* Set the desired height */
    border-top: 1px solid lightgray; /* Add top border */
    padding: 5px 10px; /* Add padding to the top and bottom */
}

.search-intro-container {
    text-align: center; /* Center the search bar initially */
}

#topic-section {
    margin-bottom: 50px;
}

details summary::marker {
    font-size: 0;
}

.bar-title {
    font-size: 22px;
    padding-bottom: 20px;
}

.btn-primary {
    font-size: 18px;
    text-decoration-line: none;
    color: #fafafa;
    padding: 20px 100px 20px 100px;
    background-color: black;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 100px;
}

.quick-links {
    width: 600px;
    text-align: left;
    margin: 0 auto 16px auto;
}

h3.quick-links-list {
    border: solid lightgray;
    border-width: 0 0 1px;
}

li.quick-link {
    font-size: 17px;
    font-weight: bold;
    height: 40px;
    padding: 6px 0 6px;
    border: solid lightgray;
    border-width: 0 0 1px;
    position: relative;
}

li.quick-link > a {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    text-decoration-line: underline;
}

ul.quick-links-list {
    padding: 6px 0 6px;
}

/* Footer styles */
footer {
    height: 300px;
    background-color: #fafafa;
}

.footer-container {
    margin: 0 70px 0 70px;
}

ul.footer-links {
    font-size: 15px;
    padding: 100px 0 0 0;
}

li.footer-link {
    padding-bottom: 10px;
    color: darkgray;
    text-decoration-line: underline;
}
